
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="~{fragments/header :: header}"></header>
<!-- ======= Sidebar ======= -->
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<main id="main" class="main">
    <div class="pagetitle">
        <h1 th:text="${title}">Trang chủ</h1>
    </div><!-- End Page Title -->
    <div th:replace="~{${content}}"></div>
</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- ======= Script ======= -->
<div th:replace="~{fragments/script :: script}"></div>

</body>

</html>
