
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body>
<!-- Header -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- Sidebar -->
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<!-- Sidebar Overlay (Mobile) -->
<div class="sidebar-overlay"></div>

<!-- Main Content -->
<main class="main">
    <div th:replace="~{${content}}"></div>
    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</main>



<a href="#" class="back-to-top">
    <i class="bi bi-arrow-up"></i>
</a>

<div th:replace="~{fragments/script :: script}"></div>

</body>

</html>
