<div class="main-content page-users">
    <div class="page-users">
        <div class="page-header users-page-header">
            <div>
                <h1 th:text="${title}" class="page-title"></h1>
            </div>
        </div>
        <div class="card users-list-card">
            <form th:action="@{/admin/employees/list(page=1,sort=${pageData.sort},dir=${pageData.dir})}" method="get">
                <div class="users-toolbar">
                    <div class="users-toolbar-left">
                        <div class="users-search">
                            <i class="bi bi-search"></i>
                            <input type="text" name="searchValue" placeholder="Tìm kiếm theo tên" autocomplete="off">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-sm btn-primary">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive users-table-wrap">
                <table class="table table-hover align-middle mb-0">
                    <thead>
                    <tr>
                        <th>
                            <a th:href="@{/admin/employees/list(
                                                page=${pageData.currentPage},
                                                sort='HoTen',
                                                dir=${pageData.sort == 'HoTen' and pageData.dir == 'asc' ? 'desc' : 'asc'}
                                            )}"
                               class="text-decoration-none">
                                Họ tên
                                <span th:if="${pageData.sort == 'HoTen'}">
                                                <i th:class="${pageData.dir == 'asc'}
                                                    ? 'bi bi-arrow-up-short'
                                                    : 'bi bi-arrow-down-short'">
                                                </i>
                                            </span>
                            </a>
                        </th>
                        <th>
                            <a th:href="@{/admin/employees/list(
                                                page=${pageData.currentPage},
                                                sort='ChucVu',
                                                dir=${pageData.sort == 'ChucVu' and pageData.dir == 'asc' ? 'desc' : 'asc'}
                                            )}"
                               class="text-decoration-none">
                                Chức vụ
                                <span th:if="${pageData.sort == 'ChucVu'}">
                                                <i th:class="${pageData.dir == 'asc'}
                                                    ? 'bi bi-arrow-up-short'
                                                    : 'bi bi-arrow-down-short'">
                                                </i>
                                            </span>
                            </a>
                        </th>
                        <th>
                            <a th:href="@{/admin/employees/list(
                                                page=${pageData.currentPage},
                                                sort='Luong',
                                                dir=${pageData.sort == 'Luong' and pageData.dir == 'asc' ? 'desc' : 'asc'}
                                            )}"
                               class="text-decoration-none">
                                Lương
                                <span th:if="${pageData.sort == 'Luong'}">
                                                <i th:class="${pageData.dir == 'asc'}
                                                    ? 'bi bi-arrow-up-short'
                                                    : 'bi bi-arrow-down-short'">
                                                </i>
                                            </span>
                            </a>
                        </th>
                        <th class="users-th-actions">
                            Thao tác
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${pageData.content}">
                        <td th:text="${employee.hoTen}" class="users-meta"></td>
                        <td th:text="${employee.tenChucVu}" class="users-meta">Just now</td>
                        <td th:text="${#numbers.formatDecimal(employee.luong, 0, 'COMMA', 0, 'POINT')}"
                            class="users-meta">Jan 15, 2024
                        </td>
                        <td>
                            <div class="users-actions">
                                <a th:href="@{/admin/employees/addOrEdit}" class="users-action-btn" title="View"><i
                                        class="bi bi-plus"></i></a>
                                <a th:href="@{/admin/employees/addOrEdit(maNhanVien=${employee.maNhanVien})}"
                                   class="users-action-btn" title="Edit"><i class="bi bi-pencil"></i></a>
                                <button type="button" class="btn btn-icon btn-sm btn-light"
                                        th:data-id="${employee.maNhanVien}" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal"><i class="bi bi-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="users-pagination">
                <div class="users-pagination-info">Có tổng số [[${pageData.totalElements}]] nhân viên</div>
                <nav>
                    <ul class="pagination pagination-sm mb-0">
                        <li th:if="${pageData.currentPage > 1}" class="page-item">
                            <a th:href="@{/admin/employees/list(
                                    page=${pageData.currentPage - 1},
                                    sort=${pageData.sort},
                                    dir=${pageData.dir}
                                    )}"
                               class="page-link"
                               aria-label="Previous">
                                <i class="bi bi-chevron-left"></i>
                            </a>
                        </li>

                        <th:block th:each="i : ${#numbers.sequence(1, pageData.totalPages)}">
                            <li th:class="'page-item ' + (${i == pageData.currentPage} ? 'disabled' : '')">
                                <a class="page-link"
                                   th:href="@{/admin/employees/list(
                                           page=${i},
                                           sort=${pageData.sort},
                                           dir=${pageData.dir}
                                           )}"
                                   th:text="${i}">
                                </a>
                            </li>
                        </th:block>
                        <li th:if="${pageData.currentPage < pageData.totalPages}" class="page-item">
                            <a th:href="@{/admin/employees/list(
                                    page=${pageData.currentPage + 1},
                                    sort=${pageData.sort},
                                    dir=${pageData.dir}
                                    )}"
                               class="page-link"
                               aria-label="Next">
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center py-4">
                    <div class="mb-3">
                          <span class="bg-danger-subtle text-danger rounded-circle d-inline-flex align-items-center justify-content-center"
                                style="width: 64px; height: 64px;">
                            <i class="bi bi-exclamation-triangle fs-1"></i>
                          </span>
                    </div>
                    <h5>Xóa nhân viên</h5>
                    <p class="text-muted mb-0">Bạn có muốn xóa bản ghi này hay không?</p>
                </div>
                <form th:action="@{/admin/employees/delete}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <input type="hidden" name="maNhanVien" id="deleteId"/>
                    <div class="modal-footer justify-content-center border-0 pt-0">
                        <button type="submit" class="btn btn-danger">Có</button>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Không</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:if="${success}"
         class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast"
             class="toast fade"
             role="alert"
             data-bs-delay="5000"
             data-bs-autohide="true">

            <div class="toast-header">
                <i class="bi bi-check-circle text-success me-2"></i>
                <strong class="me-auto">Thành công</strong>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body"
                 th:text="${success}">
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Delete
        const deleteButtons = document.querySelectorAll(".users-actions > button");
        console.log(deleteButtons);
        const deleteInput = document.querySelector("#deleteId");

        deleteButtons.forEach(btn => {
            btn.addEventListener("click", function () {
                deleteInput.value = this.getAttribute("data-id");
            });
        });


        // Show Message
        const liveToast = document.getElementById('liveToast');
        if (liveToast) {
            const toast = new bootstrap.Toast(liveToast);
            toast.show();
        }
    });


</script>
