<footer th:fragment="footer">
    <div class="footer-content">
        <div class="footer-links">
            <a href="#">Docs</a>
            <a href="#">Privacy</a>
            <a href="#">Security</a>
            <a href="#">Support</a>
        </div>

        <div class="footer-credits">
            <div class="footer-copyright">
                &copy; 2026 <a href="#">FlexAdmin</a>
            </div>
            <div class="footer-copyright">
            </div>
        </div>
    </div>
</footer>