<aside class="sidebar" th:fragment="sidebar" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <!-- Sidebar Navigation -->
    <nav class="sidebar-nav">
        <ul class="nav-menu">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    <span class="nav-icon"><i class="ph-light ph-house"></i></span>
                    <span class="nav-text">Trang chủ</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    <span class="nav-icon"><i class="ph-light ph-user"></i></span>
                    <span class="nav-text">Trang cá nhân</span>
                </a>
            </li>
            <li class="nav-item has-submenu ">
                <a class="nav-link" href="#" aria-expanded="false">
                    <span class="nav-icon"><i class="ph-light ph-users-three"></i></span>
                    <span class="nav-text">Quản lý nhân viên</span>
                    <span class="nav-arrow"><i class="bi bi-chevron-right"></i></span>
                </a>
                <ul class="nav-submenu ">
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Xem danh sách nhân viên</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Thêm nhân viên</a>
                    </li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Chỉnh sửa nhân viên</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Xóa nhân viên</a>
                    </li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Tìm kiếm</a>
                    </li>
                </ul>
            </li>

            <!-- Users -->
            <li class="nav-item has-submenu ">
                <a class="nav-link" href="#" aria-expanded="false">
                    <span class="nav-icon"><i class="ph-light ph-shopping-bag"></i></span>
                    <span class="nav-text">Quản lý bán hàng</span>
                    <span class="nav-arrow"><i class="bi bi-chevron-right"></i></span>
                </a>
                <ul class="nav-submenu ">
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Xem danh sách bán hàng</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Xem bàn</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Chuyển bàn</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Gộp bàn</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Tách bàn</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Hủy bàn</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Đặt bàn</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Chọn thực đơn</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Thanh toán</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>In ấn</a></li>
                </ul>
            </li>

            <li class="nav-item has-submenu ">
                <a class="nav-link" href="#" aria-expanded="false">
                    <span class="nav-icon"><i class="ph-light ph-devices"></i></span>
                    <span class="nav-text">Quản lý trang thiết bị</span>
                    <span class="nav-arrow"><i class="bi bi-chevron-right"></i></span>
                </a>
                <ul class="nav-submenu ">
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Xem danh sách thiết bị</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Thêm thiết</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Chỉnh sửa thiết bị</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Xóa thiết bị</a></li>
                </ul>
            </li>

            <li class="nav-item has-submenu ">
                <a class="nav-link" href="#" aria-expanded="false">
                    <span class="nav-icon"><i class="ph-light ph-storefront"></i></span>
                    <span class="nav-text">Xem danh sách hàng hóa</span>
                    <span class="nav-arrow"><i class="bi bi-chevron-right"></i></span>
                </a>
                <ul class="nav-submenu ">
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Nhập danh sách hàng hóa</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Nhập hàng hóa</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Xuất hàng hóa</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Chỉnh sửa hàng hóa</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Xóa hàng hóa</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Tìm kiếm hàng hóa</a></li>
                </ul>
            </li>

            <li class="nav-item has-submenu ">
                <a class="nav-link" href="#" aria-expanded="false">
                    <span class="nav-icon"><i class="ph-light ph-hamburger"></i></span>
                    <span class="nav-text">Quản lý thực đơn</span>
                    <span class="nav-arrow"><i class="bi bi-chevron-right"></i></span>
                </a>
                <ul class="nav-submenu ">
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Xem danh sách thực đơn</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Thêm danh mục</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Chỉnh sửa danh mục</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Xóa danh mục</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Tìm kiếm danh mục</a></li>
                </ul>
            </li>

            <li class="nav-item has-submenu ">
                <a class="nav-link" href="#" aria-expanded="false">
                    <span class="nav-icon"><i class="ph-light ph-seal-percent"></i></span>
                    <span class="nav-text">Quản lý Marketing</span>
                    <span class="nav-arrow"><i class="bi bi-chevron-right"></i></span>
                </a>
                <ul class="nav-submenu ">
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Xem các mã khuyến mãi</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Thêm khuyến mãi</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Chỉnh sửa khuyến mãi</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Xóa khuyến mãi</a></li>
                </ul>
            </li>

            <li class="nav-item has-submenu ">
                <a class="nav-link" href="#" aria-expanded="false">
                    <span class="nav-icon"><i class="ph-light ph-money"></i></span>
                    <span class="nav-text">Quản lý ngân sách</span>
                    <span class="nav-arrow"><i class="bi bi-chevron-right"></i></span>
                </a>
                <ul class="nav-submenu ">
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Xem thu chi</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Thêm thu chi</a></li>
                </ul>
            </li>

            <li class="nav-item has-submenu ">
                <a class="nav-link" href="#" aria-expanded="false">
                    <span class="nav-icon"><i class="ph-light ph-database"></i></span>
                    <span class="nav-text">Quản lý dữ liệu</span>
                    <span class="nav-arrow"><i class="bi bi-chevron-right"></i></span>
                </a>
                <ul class="nav-submenu ">
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Sao lưu dữ liệu</a></li>
                    <li><a class="nav-link " th:href="@{/}"><span class="nav-dot"></span>Phục hồi dữ liệu</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    <span class="nav-icon"><i class="ph-light ph-chart-bar"></i></span>
                    <span class="nav-text">Thống kê báo cáo</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="sidebar-footer">
        <div class="d-grid gap-2">
            <button class="btn btn-outline-secondary" type="button">Giới thiệu</button>
        </div>
    </div>
</aside>